@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Great+Vibes&family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #ff7aa2, #c94b7c);
  color: white;
  text-align: center;
  scroll-behavior: smooth;
}

section {
  padding: 80px 20px;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valentine-title {
  font-family: 'Great Vibes', cursive;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 0 25px rgba(255, 0, 100, 0.5);
}

.scroll {
  font-size: 2rem;
  margin-top: 20px;
  animation: bounce 2s infinite;
}

/* TIMELINE */
.timeline .card {
  background: rgba(255,255,255,0.18);
  padding: 20px;
  margin: 15px auto;
  width: 70%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  position: relative;
}
.timeline .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px pink;
}

/* SECRET 40 */
.secret40 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  opacity: 0.2;
  position: absolute;
  right: 20px;
  top: 10px;
}

/* ENVELOPE */
.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  cursor: pointer;
}

.envelope-back {
  background: #ff9aa2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* .envelope-front {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #ff6f91;
} */
.envelope-heart {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #ff2f6d;
  text-shadow: 0 0 15px rgba(255, 0, 100, 0.6);
  z-index: 1;
}
.letter {
  position: absolute;
  background: #fff3e6;
  width: 260px;
  height: 0;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  transition: 1s;
  color: black;
  font-family: 'Playfair Display', serif;
  z-index: 2;
}

/* OPEN STATE */
.envelope.open .letter {
  height: 320px;
}

/* POLAROIDS */
.polaroid {
  background: white;
  color: black;
  padding: 20px;
  display: inline-block;
  margin: 10px;
  transform: rotate(-2deg);
  transition: 0.3s;
}
.polaroid:hover {
  transform: rotate(0deg) scale(1.1);
}
.polaroid img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  display: block;
}

/* FINAL */
.final {
  font-size: 2rem;
}
.sign {
  font-family: 'Great Vibes', cursive;
  font-size: 2.8rem;
}

/* ANIMATION */
@keyframes bounce {
  0%,100% {transform: translateY(0);}
  50% {transform: translateY(10px);}
}
